---
# Molecule Configuration for SQL Server Client Role

dependency:
  name: galaxy

driver:
  name: docker

platforms:
  - name: rhel9-mssql-client
    image: rockylinux:9
    command: /usr/sbin/init
    privileged: true
    pre_build_image: true
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    cgroupns_mode: host

provisioner:
  name: ansible
  env:
    ANSIBLE_ROLES_PATH: ../../../
  inventory:
    host_vars:
      rhel9-mssql-client:
        sqlserver_install_jdbc_driver: true
        sqlserver_jdbc_version: "12.6.1"
        sqlserver_jdbc_jre_version: "17"
        sqlserver_odbc_dsn_entries:
          - name: TestDSN
            server: localhost
            database: testdb
            encrypt: "yes"
            trust_cert: "yes"
        sqlserver_test_connection: false

verifier:
  name: ansible

scenario:
  name: default
  test_sequence:
    - dependency
    - lint
    - cleanup
    - destroy
    - syntax
    - create
    - prepare
    - converge
    - idempotence
    - verify
    - cleanup
    - destroy
