---
# Molecule Configuration for WildFly Role

dependency:
  name: galaxy
  options:
    requirements-file: requirements.yml
    role-file: requirements.yml

driver:
  name: docker

platforms:
  - name: rhel9-wildfly
    image: rockylinux:9
    command: /usr/sbin/init
    privileged: true
    pre_build_image: true
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    cgroupns_mode: host

provisioner:
  name: ansible
  env:
    ANSIBLE_ROLES_PATH: ../../../
  inventory:
    host_vars:
      rhel9-wildfly:
        wildfly_version: "30.0.1.Final"
        wildfly_java_version: "17"
        wildfly_bind_address: "0.0.0.0"
        wildfly_management_bind_address: "0.0.0.0"
        wildfly_datasources:
          - name: AppADS
            jndi_name: java:jboss/datasources/AppADS
            driver_name: postgresql
            connection_url: jdbc:postgresql://localhost:5432/testdb
            user_name: testuser
            password: testpass

verifier:
  name: ansible

scenario:
  name: default
  test_sequence:
    - dependency
    - lint
    - cleanup
    - destroy
    - syntax
    - create
    - prepare
    - converge
    - idempotence
    - verify
    - cleanup
    - destroy
