---
# Molecule Configuration for Java App Deployment Role

dependency:
  name: galaxy
  options:
    requirements-file: requirements.yml
    role-file: requirements.yml

driver:
  name: docker

platforms:
  - name: rhel9-java-app
    image: rockylinux:9
    command: /usr/sbin/init
    privileged: true
    pre_build_image: true
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    cgroupns_mode: host

provisioner:
  name: ansible
  env:
    ANSIBLE_ROLES_PATH: ../../../
  inventory:
    host_vars:
      rhel9-java-app:
        java_app_name: "testapp"
        java_app_war_source: "{{ lookup('env', 'MOLECULE_PROJECT_DIRECTORY') }}/molecule/default/files/test.war"
        java_app_war_dest: "/opt/wildfly/standalone/deployments"
        java_app_healthcheck_enabled: false

verifier:
  name: ansible

scenario:
  name: default
  test_sequence:
    - dependency
    - lint
    - cleanup
    - destroy
    - syntax
    - create
    - prepare
    - converge
    - idempotence
    - verify
    - cleanup
    - destroy
