---
# Molecule Configuration for PostgreSQL Client Role

dependency:
  name: galaxy

driver:
  name: docker

platforms:
  - name: rhel9-pgsql-client
    image: rockylinux:9
    command: /usr/sbin/init
    privileged: true
    pre_build_image: true
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    cgroupns_mode: host

provisioner:
  name: ansible
  env:
    ANSIBLE_ROLES_PATH: ../../../
  inventory:
    host_vars:
      rhel9-pgsql-client:
        postgresql_client_default_host: "localhost"
        postgresql_client_default_port: 5432
        postgresql_jdbc_version: "42.7.3"
        postgresql_client_services:
          - name: testdb
            host: localhost
            port: 5432
            dbname: testdb
            user: testuser
        postgresql_client_connections: []

verifier:
  name: ansible

scenario:
  name: default
  test_sequence:
    - dependency
    - lint
    - cleanup
    - destroy
    - syntax
    - create
    - prepare
    - converge
    - idempotence
    - verify
    - cleanup
    - destroy
