<?xml version="1.0" encoding="UTF-8"?>
<!-- PostgreSQL JDBC Module - Managed by Ansible -->
<module xmlns="urn:jboss:module:1.5" name="org.postgresql">
    <resources>
        <resource-root path="postgresql-{{ postgresql_jdbc_version }}.jar"/>
    </resources>
    <dependencies>
        <module name="javax.api"/>
        <module name="javax.transaction.api"/>
    </dependencies>
</module>
