[Unit]
Description=WildFly Application Server
After=network.target

[Service]
Type=simple
User={{ wildfly_user }}
Group={{ wildfly_group }}
Environment="JAVA_HOME={{ wildfly_java_home }}"
Environment="JBOSS_HOME={{ wildfly_home }}"
ExecStart={{ wildfly_home }}/bin/launch.sh {{ wildfly_mode }} {{ wildfly_config }} {{ wildfly_bind_address }}
ExecStop={{ wildfly_home }}/bin/jboss-cli.sh --connect command=:shutdown
StandardOutput=append:{{ wildfly_console_log }}
StandardError=append:{{ wildfly_console_log }}
LimitNOFILE=102642
LimitNPROC=65536
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
